<!DOCTYPE html>

<html lang="en" xmlns:th="www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />

    <title>Title</title>

</head>

<body>

<a href="/add">Add a Resume</a><br />


<table>

    <tr>

        <td>id</td>

        <td>Name:</td>
        <td>Emailaddress:</td>
        <td>Education:</td>
        <td>Experience:</td>
        <td>Skills:</td>
    </tr>

    <tr th:each="resume : ${resumes}">
        <th th:text="${resume.name}"></th>
        <th th:text="${resume.emailaddress}"></th><br />
        <th th:text="${resume.education}"></th>
        <th th:text="${resume.experience}"></th>
        <th th:text="${resume.skills}"></th>


        <td>

            <a th:href="@{/update/{id}(id=${resume.id})}">Add a education</a>
            <a th:href="@{/update/{id}(id=${resume.id})}">Add a experience</a>
            <a th:href="@{/update/{id}(id=${resume.id})}">Add a skills</a>
            <a th:href="@{/detail/{id}(id=${resume.id})}">Detail</a>
            <a th:href="@{/delete/{id}(id=${resume.id})}">Delete</a>


        </td>


    </tr>



</table>


</body>

</html>
