<!DOCTYPE html>

<html lang="en" xmlns:th="www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />

    <title>Title</title>

</head>

<body>

<form action="#"

      th:action="@{/process}"

      th:object="${resume}"

      method="post">

    <input type="hidden" th:field="*{id}" />

    Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}"

          th:errors="*{name}"></span><br />
<br />
    Emailaddress :<input type="text" th:field="*{emailaddress}" />
    <span th:if="${#fields.hasErrors('emailaddress')}"
          th:errors="*{emailaddress}"></span><br />
<br />
    Education :<textarea rows="5" th:field="*{education}" />
    <span th:if="${#fields.hasErrors('education')}"
          th:errors="*{education}"></span><br />
<br/>
    Experience :<textarea rows="10" th:field="*{experience}" />
    <span th:if="${#fields.hasErrors('experience')}"
          th:errors="*{experience}"></span><br />
<br />
    Skills :<textarea rows="5" th:field="*{skills}" />
    <label th:if="${#fields.hasErrors('skills')}"
          th:errors="*{skills}"></label><br />


<br />
    <input type="submit" value="Submit" />

</form>

</body>

</html>